# Auto detect text files and perform LF normalization
* text=auto
movies_streamlit.csv filter=lfs diff=lfs merge=lfs -text
cs_matrix.npz filter=lfs diff=lfs merge=lfs -text
movies_streamlit.json filter=lfs diff=lfs merge=lfs -text
credits_streamlit.json filter=lfs diff=lfs merge=lfs -text
cs_matrix.npy filter=lfs diff=lfs merge=lfs -text
cs_matrix1.npy filter=lfs diff=lfs merge=lfs -text
cs_matrix.csv filter=lfs diff=lfs merge=lfs -text
